/* Estilos Generales */
/* -------------------------------- */
/* body {
    background-color: hsl(240, 2%, 12%);
} */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
}

.seccion--osrura{
    color: white;
    background-color: #1b1b32;
}

.seccion--clara {
    color: black;
    background-color: whitesmoke;
}

.seccion__titulo{
    font-size: 2rem;
    padding: 0.9375em 0;
    font-family: 'Rubik Dirt', cursive;
}

.seccion--descripcion {
    font-size: 1.2rem;
    color: #584e4e;
}

.seccion__texto{
    font-size: 1.2rem;
}

.btn-info {
    font-size: 1.1rem;
    margin: 20px;
    font-weight: bold;
}

.texto--negro {
    color: black;
}

/* .texto--blanco {
    color: aliceblue;
} */




/* -------------------------------- */
/* Barra de navegacion */
/* -------------------------------- */
.navbar {
    padding: 2rem;
    background-color: hsl(210, 11%, 96%);
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}




/* -------------------------------- */
/* Sección Hero */
/* -------------------------------- */
.hero {
    background-color: #f5f6f7;
    min-height: 30rem;
    text-align: center;
}

.hero-principal {
    padding: 3em;
}

.hero-principal h2{
    font-size: 1.5rem;
    color: #615151;
}

.hero__imagen {
    width: 200px;
    height: 200px;
    margin: 1.25em;
    /* aspect-ratio: 1; */
    /* border-radius: 50%; reemplazado por la clase de bs rounded-circle */
}




/* -------------------------------- */
/* Sobre Mi */
/* -------------------------------- */
.sobre__mi {
    /* height: 31.25em; */
    /* padding: 0.625em; */
    padding: 2em;
}

.sobre__mi .contenedor {
    max-width: 600px;
    text-align: center;
}




/* -------------------------------- */
/* Experiencia */
/* -------------------------------- */
.experiencia {
    padding: 2.5em;
}

.experiencia .columna {
    padding: 1.25em;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
    color: white;
    background-color: #1b1b32;
}

/* .experiencia .row div {
    height: 15.625rem;
    border: 3px solid salmon; 
    background-color: darkslateblue;
} */

.experiencia--titulo {
    font-size: 1.5625rem;
    font-weight: bolder;
    margin: 0.625em 0;
}

.experiencia i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a25;
    padding: 10px 20px; 
    border-radius: 50%;
}

.badges--contenedor {
    font-size: 1.5625rem;
    font-weight: bold;
    margin: 0.625em 0;
}

.badge {
    margin: 0.3125em;
}


/* -------------------------------- */
/* Proyectos */
/* -------------------------------- */
.proyectos--recientes img {
    height: 100%;
    width: 100%;
    padding: 0.625em;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos__contenedor {
    padding-top: 3.75em;
    margin-bottom: 2.5em;
}

.proyecto {
    position: relative;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 1.5625rem;
    font-weight: bold;
    margin-bottom: 0;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay {
    opacity: 1;
}

.overlay .iconos__contenedor {
    display: flex;
}

.overlay i {
    color: black;
    font-size: 3.75rem;
    margin: 0.625em;
}




/* -------------------------------- */
/* Articulos */
/* -------------------------------- */
.articulos {
    min-height: 500px;
    padding: 1.875em;
}

.articulos h2 {
    font-size: 2rem;
}

.articulos .card {
    width: 80%;
    max-width: 600px;
    margin: 1.25em;
}

.card-header {
    font-weight: bold;
}




/* -------------------------------- */
/* Responsivo */
/* -------------------------------- */
@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }
    .overlay i {
        font-size: 40px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .hero__imagen--inferior {
        max-width: 600px;
    }
}

@media screen and (max-width: 767px) {
    .badges--contenedor {
        /* height: 25px; */
        background-color: #1b1b32;
    }
}
