*,
*::before,
*::after {
    box-sizing: border-box;
}

/* custom properties, update these for you own design */
:root {
    --ff-primary: 'Roboto', sans-serif, 'Roboto Flex', sans-serif, 'Source Code Pro', monospace;
    
    --ff-secondary: 'Roboto', sans-serif, 'Roboto Flex', sans-serif, 'Source Code Pro', monospace;
       
    /* ff = font family */

    --fw-reg: 300; /*reg = regular*/
    --fw-bold:900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr--accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.25em 0.125em 0.25em rgba(0,0,0,.15);

    /* bs = box shadow, esto es para el sombreado de la imagen de inicio, no les puse coma ni punto y coma */
    
    /* son dos blur shadow, uno ligeramente mas oscuro y el otro ligeramente mas brillante, para dar mas sentidod de realismo al diseño*/
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem; /* aqui solo puse 4.5 y no especifique que era en "rem" y por eso no tomo el maño correcto */
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;



    }
}

/* general styles */

html {
    scroll-behavior: smooth;
}

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
    /* esto sirve para que en pantallas pequeñas siempre haya un margen y los elementos nunca toquen los bordes de la pantalla */
}
/* debajo de body y arriba de img */

img {
    display: block;
    max-width: 100%;
    /* para que las imagenes no overgrow y no salgan de los parents */
}

/* general styles */

strong {font-weight: var(--fw-bold) 

}

 
/* :focus {
    outline: 3px solid var(--clr--accent);
    outline-offset: 3px;
    Esto es para que al precionar tab el boton y las imagenes tengan un borde por arriba, pero a mi no me gusto
} */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr--accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    /* aqui tenia que poner PUNTO 8 pero solo puse 8 y por eso se puso mas grande */
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) } /* el responsive de los textos */

.section__title{
    margin-bottom: .25em;

}

.section__title--intro{
    font-weight: var(--fw-reg); 
}

.section__title--intro strong{
    display: block;
    /* esto sirve para que ese texto se quede siempre en su linea (sea responsive) */
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr--accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    /* este margin sirve para el fondo verde del este texto sea responsive y tambien que se mantenga en su lugar en pantallas pequeñas mayormente */
}

.section__subtitle--work {
    color: var(--clr--accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
    /* esta parte se puso aqui porque es de los textos "my work" y "A selection of my range of work"
    tratamos de poner todo lo concerniente a texto junto */
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

/* aqui controlamos que los elementos de la navbar no toquen los bordes de la pantalla */

.logo {
    max-width: 100px;
}
/* aqui es donde le damos tamaño que queremos al logo */

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    /* esto hace que cuando despleguemos el navbar este en modo pantalla completa */

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr--accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}


.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr--accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

/* nav {display: none;}
el decidio quitar esto */

/* Intro section */

.intro{
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}
    /*  esto se puso aqui para que sea para las imagenes de todos los tamaños y no solo la del intro. */

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto; /*al cambiar el tamaño de la pantalla la imagen mantiene su espacio separada del borde*/
        grid-column-gap: 1rem;
        grid-template-areas:
            "img title"
            "img subtitle";
            grid-template-columns: min-content max-content; /* min-content hace la imagen lo mas pequeña posible (tal vez sin que desaparezca) y max-content hace el texto lo mas grande posible, todo esto es para pantallas pequeñas*/
    }
    
    .intro__img {
        grid-area: img;
        min-width: 250px; /* no puse que los 250 son px por eso desaparecia la imagen al agrandar la pagina */
        position: relative;
        z-index: 2;
        /* estos dos ultimos es para que la imagen quede sobre la barra de color, en el intro */

    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        /*esto es para que el cuadrito de fondo de texto donde esta la imagen de intro, se mantenga responsive, esta aqui y no con el texto porque no estamos modificando tipografia, este es contenido del layout*/
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
        /* este calculo es para darle espacio al texto en la barra de color en el intro, esto se ayudo con padding en la parte .section__subtitle--about */

    }
}

/* My services section */

.my-services {
    background-color: var(--clr-dark);
    background-image: url(coec34cbfa5f6969b55c6b93d/img/services-bg.jpg);/* aqui colocamos la imagen otra vez por si alguna razon no carga */
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr--accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light); 
    opacity: 0.25;
    /* background: currentColor; sirve para que la linea que hicimos dejabo de what i do tome cualquier color que haya usado en el bloque .section__title--services */
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}
/* para que el texto se mantenga justificado al centro */

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        
        margin-left: auto;
        margin-right: auto;
    }
    
    .service + .service {
        margin-left: 2em;
    } 
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;

    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200 + 4em);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }

}

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;

}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    
    /* grid-template-columns: repeat(5, 1fr);  
    este es el que yo hice pero el de el es responsive*/
}

.portfolio__item {
    background: var(--clr--accent);
    overflow: hidden;

}

.portfolio__img {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1);
    opacity: 250ms linear;
    /* transform estaba mal escrito */
}

.portfolio__item:focus {
    position: relative
    z-index 2;
}
/* El codigo arriba y el de abajo es para que anime el hover de las imagenes tanto con el mouse como con el tabular */

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .90;
    /* en la opacidad use el valor que mas me gusto, no el que el uso */
}

.footer {
    background: #111;
    color: var(--clr--accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover{
    text-decoration: underline;
} 
/* es un hover que pone un underline */

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}

.social__list__item {
    margin: 0.5em;
}

.social-list__item {
    padding: .5em;
}

.social-list__link {
    padding: .5em;
}

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}