$bg-color: hsl(0, 2%, 12%);
$h1-color: hsl(210, 67%, 96%);
$p-color:  hsl(210, 17%, 82%);
$font-fly: Arial, Helvetica, sans-serif;
$primary: crimson;

//---------------
//   Interpolar
//---------------
:root {
    --primary:#{$primary};
    
    /*
        --primary:$primary; 
        Forma mala

        revisar el css para ver el resultado de la forma buena
    */
}

body {
    background-color: $bg-color;
    font-family: $font-fly;
    text-align: center;
}

h1 {
    color: $h1-color;
}

p {
    color: $p-color;
}


//---------------
//   Nesting
//---------------
.nesting {
    margin: 0 auto;
    width: 70%;

    h1 {
        color: orangered;
    }

    p {
         color: orange;
    }
}


//---------------
//Mixin / Funciones
//---------------

@mixin cajaBordes($color, $size, $shadow){
    border: $size solid $color;
    border-radius: $size;
    box-shadow: 0em 0em $size $shadow;
}

.mixin {
    @include cajaBordes($p-color, 5px , $h1-color);
}


//---------------
//   Herencia
//---------------

%alert-normal {
    border: 2px solid gray;
    background-color: #eee;
    color: gray;
    padding: 0.625em;
    width: 40%;
    margin: 1.25em auto;
}


.alert {
    @extend %alert-normal;
}

.danger {
    @extend %alert-normal;
    color: red;
    border: 2px solid red;
}

.success {
    @extend %alert-normal;
    color: green;
    border: 2px solid green;
}

/*
    en SASS se puede hacer bucles

    https://www.udemy.com/course/master-en-css-responsive-sass-flexbox-grid-y-boostrap-4/learn/lecture/17393636#overview

    https://www.udemy.com/course/master-en-css-responsive-sass-flexbox-grid-y-boostrap-4/learn/lecture/17394802#overview
*/